node_modules/
.DS_Store
cdk.out/
.env
*.swp
*.swo
*.swn

# CDK asset staging directory
.cdk.staging
cdk.context.json

# IDE/Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

coverage
dist
